.home {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.home__itemContainer {
  margin-top: 35vh;
}

.home__row {
  display: flex;
  justify-content: center;
  z-index: 1;
  margin-left: 5px;
  margin-right: 5px;
}

.home__image {
  position: absolute;
  width: 98vw;
  z-index: -1;
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 50%,
    transparent 100%
  );
}
