* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(234, 237, 237);
}

a {
  color: #333;
  text-decoration: none;
}

@import "./header";
@import "./home";
@import "./product";
@import "./checkout";
@import "./subtotal";
@import "./checkoutproduct";
